<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
           <% if (hasProducts) { %>
                <ul class="cart__list">
                    <% products.forEach(product => {%>
                        <li class="cart__item">
                            <p class="cart__item-title"><%= product.title %></p>
                            <p class="cart__item-quantity"><%= product.quantity %></p>
                            <form action="/shop/cart-delete-item" method="POST">
                                <button class="btn cart__item-delete" type="submit">Delete</button>
                                <input type="hidden" name="productId" value="<%=product._id%>">
                            </form>
                        </li>
                    <% })%>
                </ul>
            <hr>
            <div class="centered">
                <form action="/shop/create-order" method="POST">
                    <button class="btn" type="submit">Order Now!</button>
                </form>
            </div>
            <% } else { %>
                <h1>No Products in Cart</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>