<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
           <% if (hasProducts) { %>
                <ul>
                    <% products.forEach(product => {%>
                        <li>
                            <p><%= product.title %> (<%= product.cartItem.quantity %>)</p>
                            <form action="/shop/cart-delete-item" method="POST">
                                <button class="btn" type="submit">Delete</button>
                                <input type="hidden" name="productId" value="<%=product.id%>">
                            </form>
                        </li>
                    <% })%>
                </ul>
            <hr>
            <div class="centered">
                <form action="/shop/create-order" method="POST">
                    <button class="btn" type="submit">Order Now!</button>
                </form>
            </div>
            <% } else { %>
                <h1>No Products in Cart</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>